<div class="site-content">
        <header class="site-header" data-bg-image="">
            <div class="container">
                <div class="header-bar">
                    <a href="index.html" class="branding">
                        <img src="~/images/logo_2.png" alt="" class="logo">
                        <div class="logo-type">
                            <h1 class="site-title">Laboratoire Gharbi Aloui Monia</h1>
                            <small class="site-description">Analyses médicales</small>
                        </div>
                    </a>
                    <nav class="main-navigation">
                        <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                        <ul class="menu">
                            <li class="home menu-item current-menu-item">
                                <a href="/Home/Index"><img src="~/images/home-icon.png" alt="Home"></a>
                            </li>
                            <li class="menu-item">@Html.ActionLink("A propos", "About")</li>
                            <li class="menu-item">@Html.ActionLink("Nos services", "Services")</li>
                            <li class="menu-item">@Html.ActionLink("Contact", "Contact")</li>
                            <li class="menu-item">@Html.ActionLink("Forum", "Forum")</li>
                        </ul>
                    </nav>
                    <div class="mobile-navigation"></div>
                </div>
            </div>
        </header>

        <div class="page-head" style="background-image: url(/images/page-head-2.jpg)">
            <div class="container">
                <h2 class="page-title">Services</h2>
            </div>
        </div>

        <main class="main-content">
            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="section-title">Préparez-Vous</h2>
                            <p>
                                Pour certains examens, il est nécessaire d'être à jeun.<br />

                                <b>Pourquoi venir à jeun ?</b>
                                Après un repas il y a une circulation importante de particules lipidiques dans le sang. L’état de jeûne permet d’éviter l’interférence de ces particules dans les méthodes de dosage. Etre à jeun permet la bonne exécution de l’analyse et une interprétation  pertinente du résultat.
                                Toutes les analyses ne nécessitent pas le jeûne ; renseignez vous au laboratoire.
                                Afin d’avoir un résultat fiable, préparez vous :<br />
                                -Eviter l’activité physique intense la veille du prélèvement.<br />
                                -Le soir, avant le prélèvement,  arrêtez de manger à partir de 20h. Boire de l’eau est possible.<br />
                                -Le matin avant le prélèvement, relaxez vous, ne pas prendre le petit déjeuner et éviter de fumer.<br />
                                -Si vous prenez des médicaments informez-vous auprès de votre médecin traitant ou au laboratoire.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fullwidth-block">
                <div class="container">
                    <h1 class="section-title"> GUIDE DES ANALYSES MEDICALES</h1>
                    <div class="container" style="width:50%;float:left">
                        <div class="boxed-content btn-danger">
                            Le jeûne est  NECESSAIRE pour ces analyses
                        </div>
                        <div class="boxed-content btn-info">
                            Le jeûne est PREFERABLE pour ces analyses
                        </div>
                        <div class="boxed-content btn-warning">
                            Le jeûne est INUTILE pour ces analyses
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <h1 class="section-title"> LISTE DES ANALYSES MEDICALES</h1>
                    <div class="container boxed-content" style="height:500px;overflow-y:scroll">
                       

                    </div>
                </div>
     </div>


        <div class="fullwidth-block" data-bg-color="#edf2f4">
            <div class="container">
                <div class="subscribe-form">
                    <h2>Boîte a lettre</h2>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <input type="submit" value="Joindre">
                    </form>
                </div>
            </div>
        </div>

     </main>
    <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Notre Adresse</h3>
                            <strong>Laboratoire Gharbi Aloui Monia</strong>
                            <address>AVENU HBIB BOURGUIBA angle rue ARIHA / BARDO 2</address>
                            <a href="tel:+216 50 272707"><i class="fa fa-mobile"></i>&nbsp;+216 50 272707</a> <br>
                            <a href="tel:+216 50 272707"><i class="fa fa-phone"></i>&nbsp;+216 31 404025</a> <br>
                            <a href="mailto:laboratoiregharbimonia@gmail.com">laboratoiregharbimonia@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Plan du site</h3>
                            <ul class="arrow-list">
                                <li class="menu-item">@Html.ActionLink("A propos", "About")</li>
                                <li class="menu-item">@Html.ActionLink("Nos services", "Services")</li>
                                <li class="menu-item">@Html.ActionLink("Contact", "Contact")</li>
                                <li class="menu-item">@Html.ActionLink("Forum", "Forum")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <!--	<p class="colophon">copyright 2014 Company name. Designed by <a href="http://www.vandelaydesign.com/" title="Designed by VandelayDesign.com" target="_blank">VandelayDesign.com</a>. All rights reserved</p> -->
            </div>
            <!-- .container -->
        </footer>
</div>